<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="POST">
        {csrf_token}
        {{ form.as_p }}

    </form>
</div>

</body>
</html>