<!doctype html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block Title %}Library{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'Home' %}">Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Agregar
                            Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">List Books</a>
                    </li>

                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            <div class="nav-item m-auto d-flex flex-row-reverse">
                <a class="nav-link active text-white" href="">{{ request.user.username }}</a>
            </div>
            <div class="nav-item m-auto d-flex flex-row-reverse">
                <a class="nav-link active text-white" href="#">Log Out</a>
            </div>
            </div>
        {% endif %}

</nav>
{% block content %}{% endblock %}

<footer class="bg-primary">
    <div class='navbar-dark bg-primary fixed-bottom'>
        <p class='text-center text-white py-3 mb-0'>
            Proyecto creado por Angelica Morales, Andres Garcia, Leandro Meza - CAR IV 2022
        </p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>