{% extends "base.html" %}
{% block Title %} HOME LIBRARY {% endblock %}

{% block content %}
    <h1 class="text-center py-3">HOME LIBRARY</h1>
    <div class="card bg-dark text-white">
        <img src="../static/img/library-banner.jpg" class="card-img" alt="..." style="">
        <div class="card-img-overlay">
        </div>
    </div>
{% endblock %}
